.spanBlock {
    display: flex;
    gap: 20px;
    align-items: center;
}

.span {
    font-weight: 500;
    font-size: 16px;
    color: #0080ff;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 276px;
    padding: 8px 25px;
}

.pen {
    height: 25px;
    width: 25px;
}