.button {
}

.disabled {
    opacity: 0.5;
}

.secondary {
    color: #074381;
}

.default {
}

.red {
    color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
