.button {
    border-radius: 3px;
    padding: 5px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;

}

.disabled {
    opacity: 0.5;
}

.secondary {
    color: #06c;
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    background-color: transparent;
}

.default {
    background: #06c;
    color: #fff;
    border: 1px solid transparent;
}

.red {
    color: #cc0000;
}

.default:hover {
    background-color: transparent;
    color: #06c;
    border: 1px solid #06c;
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
